.tag {
	height: 24px;
	margin-right: 0.25rem;
	margin-left: 0.25rem;
	font-size: 12px;
}
.btn-tag-input {
	margin-left: 0.25rem;
	font-size: 12px;
}
.tag-input {
	width: 80px;
	margin-left: 0.25rem;
}
