.header {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 60px;
	box-sizing: border-box;
	.header-lf {
		display: flex;
		.el-menu-top {
			margin: 0;
		}
	}
	.header-ri {
		margin-right: 17%;
		.icon-style {
			margin: 0 22px 0 0;
			font-size: 20px;
			color: rgb(0 0 0 / 75%);
			cursor: pointer;
		}
		.theme-item {
			display: flex;
			justify-content: space-between;
			align-items: center;
			span {
				font-size: 14px;
			}
		}
	}
	.theme-switch {
		display: flex;
		justify-content: center;
		margin-top: 35px;
	}
}
.avatar {
	width: 40px;
	height: 40px;
	overflow: hidden;
	cursor: pointer;
	border-radius: 50%;
	img {
		width: 100%;
		height: 100%;
	}
}
.nav-searchform {
	position: relative;
	z-index: 1;
	display: flex;
	align-items: center;
	width: 280px;
	height: 40px;
	padding: 0 48px 0 4px;
	overflow: hidden;
	line-height: 38px;
	background: #f1f2f3;
	border: 1px solid #e3e5e7;
	border-bottom: none;
	border-radius: 8px;
	opacity: 0.9;
	transition: background-color 0.3s;
	.nav-search-content {
		width: 100%;
	}
	:deep(.el-input) {
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		height: 32px;

		// padding: 0 8px;
		// background-color: #e3e5e7;
		border: 2px solid transparent;
		border-radius: 6px;
	}
	:deep(.el-input__wrapper) {
		padding-right: 8px;
		background-color: transparent;
		box-shadow: none;
	}
	:deep(.el-input__inner) {
		overflow: hidden;
		font-size: 14px;
		line-height: 20px;
		color: var(--text2);
		border: none;
		flex: 1;
	}
	.nav-search-btn {
		position: absolute;
		top: 3px;
		right: 7px;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 32px;
		height: 32px;
		padding: 0;
		margin: 0;
		line-height: 32px;
		color: var(--text1);
		cursor: pointer;
		border: none;
		border-radius: 6px;
		transition: background-color 0.3s;
	}
}
