/* stylelint-disable selector-pseudo-element-no-unknown */
.waterfall-list {
	background-color: #ffffff;
	.el-card__body {
		.pic-info {
			// height: 86px;
			padding: 8px 16px 16px;
			.bottom {
				display: flex;
				justify-content: space-between;
				align-items: center;
				margin-top: 13px;
				line-height: 12px;
			}
			.time {
				font-size: 12px;
				color: #999999;
			}
			.like_content {
				display: flex;
				align-items: center;
				.like_count {
					padding-bottom: 4px;
					font-size: 16px;
					color: #999999;
				}
				.btn_like {
					display: flex;
					justify-content: center;
					align-items: center;
					padding: 0 6px;
					cursor: pointer;
					background: transparent;
					border: none;
					.svg_wrap {
						// justify-content: center;
						align-items: center;
					}
				}
			}

			// background-color: rgb(17 24 39);
		}
	}
}
::v-deep .el-dialog__body {
	padding: 0;
}
::v-deep .el-dialog__header {
	padding: 0;
	margin: 0;
}
::v-deep .el-carousel__container {
	height: 100%;
}
::v-deep .el-dialog {
	width: 70%;
	height: 96%;
	margin: 1% auto;
}
::v-deep .el-carousel__item {
	display: flex;
	align-items: center;
}
.dialog-box {
	display: flex;
	width: 100%;
	height: 100%;
	max-width: 100%;
	.left-box {
		// max-width: 711.2px;
		// max-height: 889px;
		// flex-basis: 711.2px;
		width: 65%;
	}
	.right-box {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		flex-shrink: 2;
		width: 35%;
		box-sizing: border-box;
		.article-box {
			height: 30%;
			padding: 4%;
			.user {
				display: flex;
				align-items: center;
				.username {
					margin-left: 2%;
					font-weight: bold;
				}
			}
		}
		.comment-box {
			height: 70%;
			padding: 4%;
		}

		// max-width: 35%;
		// min-width: 30%;
	}
}
