.waterfall-list {
	background-color: #ffffff;
	.el-card__body {
		.pic-info {
			// height: 86px;
			padding: 8px 16px 16px;
			.bottom {
				display: flex;
				justify-content: space-between;
				align-items: center;
				margin-top: 13px;
				line-height: 12px;
			}
			.time {
				font-size: 12px;
				color: #999999;
			}
			.btn_like {
				display: flex;
				justify-content: center;
				align-items: center;
				padding: 8px;
				cursor: pointer;
				background: transparent;
				border: none;
				.svg_wrap {
					justify-content: center;
					align-items: center;
					.svg_anim {
						transform: scale(1);
						animation-duration: 0.45s;
						animation-name: like-button-animation;
						animation-timing-function: ease-in-out;
					}
				}
			}

			// background-color: rgb(17 24 39);
		}
	}
}
