.el-container {
	display: flex;
	width: 100%;
	height: 100%;
	min-width: 970px;
	.el-footer {
		height: auto;
		padding: 0;
	}
	.el-main {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 2px;

		// 防止切换出现横向滚动条
		overflow-x: hidden;
		background: #f0f2f5;
		box-sizing: border-box;
		.main-box {
			position: relative;
			display: flex;
			justify-content: center;

			// align-items: center;

			width: 100%;
			height: 100%;
			overflow: auto;
			overflow-x: hidden !important;
			background-color: #ffffff;
			border-radius: 4px;
			box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
			box-sizing: border-box;
			&::-webkit-scrollbar {
				background-color: white;
			}
		}
	}
}
